-# 従業員一覧ページ
.employee-index
  .employee-index__center
    .employee-index__center__title
      従業員一覧
    .employee-index__center__table
      .employee-index__center__table__title
        .employee-index__center__table__title__employee_id
          従業員NO.
        .employee-index__center__table__title__name_kanji
          氏名
        .employee-index__center__table__title__name_furigana
          氏名(ﾌﾘｶﾞﾅ)
        .employee-index__center__table__title__birthday
          生年月日
        .employee-index__center__table__title__address
          住所
        .employee-index__center__table__title__hire_date
          入社日
        .employee-index__center__table__title__retirement_date
          退職日
        .employee-index__center__table__title__employment_status
          雇用形態
        .employee-index__center__table__title__department
          所属部門
        .employee-index__center__table__title__employment_insurance_number
          雇用保険被保険者番号
        .employee-index__center__table__title__health_insurance_number
          健康保険被保険者番号
        .employee-index__center__table__title__basic_pension_number
          基礎年金番号

      - @employees.each do |employee|
        = link_to edit_employee_path(employee), class: "link" do
          .employee-index__center__table__data
            .employee-index__center__table__data__employee_id.table_border
              = employee.employee_id
            .employee-index__center__table__data__name_kanji.table_border
              = employee.family_name + " " + employee.first_name
            .employee-index__center__table__data__name_furigana.table_border
              = employee.family_name_f + " " + employee.first_name_f
            .employee-index__center__table__data__birthday.table_border
              = employee.birthday
            .employee-index__center__table__data__address.table_border
              = employee.address
            .employee-index__center__table__data__hire_date.table_border
              = employee.hire_date
            .employee-index__center__table__data__retirement_date.table_border
              = employee.retirement_date
            .employee-index__center__table__data__employment_status.table_border
              = employee.employment_status
            .employee-index__center__table__data__department.table_border
              = employee.department
            .employee-index__center__table__data__employment_insurance_number.table_border
              = employee.employment_insurance_number
            .employee-index__center__table__data__health_insurance_number.table_border
              = employee.health_insurance_number
            .employee-index__center__table__data__basic_pension_number.table_border
              = employee.basic_pension_number




