.form
  = form_with model: @employee, method: :post do |f|
    = f.text_field :first_name, class: 'form__name-left', placeholder: '姓'
    = f.text_field :family_name, class: 'form__name-right', placeholder: '名'
    = f.text_field :first_name_f, class: 'form__name-left', placeholder: '姓（フリガナ）'
    = f.text_field :family_name_f, class: 'form__name-right', placeholder: '名（フリガナ）'
    = f.file_field :image
    = f.date_field :birthday, class: 'form__name-right'
    = f.select :sex, Employee.sexes.keys
    = f.number_field :postal_code
    = f.text_field :address
    = f.text_field :address_f
    = f.date_field :hire_date
    = f.date_field :retirement_date
    = f.text_field :reason_for_retirement
    = f.text_field :employee_id
    = f.select :employment_status, ["正社員", "契約社員", "パート・アルバイト", "嘱託社員", "役員"]
    = f.select :department, ["人事", "経理", "営業", "役員", "その他"]
    = f.number_field :working_hours
    = f.number_field :working_days
    = f.select :pay_type, Employee.pay_types.keys
    = f.number_field :amount_of_payment
    = f.number_field :commuting_allowance
    = f.number_field :cash
    = f.number_field :in_kind
    = f.number_field :monthly_remuneration
    = f.number_field :standard_monthly_remuneration
    = f.date_field :social_insurance_acquisition_date
    = f.number_field :health_insurance_number
    = f.number_field :basic_pension_number
    = f.date_field :employment_insurance_acquisition_date
    = f.number_field :employment_insurance_number
    = f.submit 'Send', class: 'form__submit'