-# タスクページ
.task
  .task__acquisition
    .task__acquisition__social_insurance
      社会保険資格取得手続
      - @social_insurance_acquisition_procedures.each do |employee|
        = link_to "#" do
          .task__acquisition_date
            =employee.social_insurance_acquisition_date
          .task__employee__name
            =employee.family_name
            =employee.first_name
        .task__completed
          = form_with model: employee, url: task_completed_social_insurance_employee_path(employee), method: "patch" do |f|
            = f.submit "手続済にする"

    .task__acquisition__employment_insurance
      雇用保険資格取得手続
      - @employment_insurance_acquisition_procedures.each do |employee|
        = link_to "#" do
          .task__acquisition_date
            =employee.employment_insurance_acquisition_date
          .task__employee__name
            =employee.family_name
            =employee.first_name
        .task__completed
          = form_with model: employee, url: task_completed_employment_insurance_employee_path(employee), method: "patch" do |f|
            = f.submit "手続済にする"





